In [14]:
import pandas as pd
titanic = pd.read_csv("../data/titanic.csv")
titanic
titanic.head(8)
titanic.dtypes
titanic.to_excel("titanic.xlsx", sheet_name="passengers", index=False)
titanic = pd.read_excel("titanic.xlsx", sheet_name="passengers")
titanic.head()
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [23]:
titanic = pd.read_csv("../data/titanic.csv")
titanic.head()
ages = titanic["Age"]
ages.head()
type(titanic["Age"])
titanic["Age"].shape
age_sex = titanic[["Age", "Sex"]]
age_sex.head()
type(titanic[["Age", "Sex"]])
titanic[["Age", "Sex"]].shape
above_35 = titanic[titanic["Age"] > 35]
above_35.head()
titanic["Age"] > 35
above_35.shape
class_23 = titanic[titanic["Pclass"].isin([2, 3])]
class_23.head()
class_23 = titanic[(titanic["Pclass"] == 2) | (titanic["Pclass"] == 3)]
class_23.head()
age_no_na = titanic[titanic["Age"].notna()]
age_no_na.head()
age_no_na.shape

(217, 12)