In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

In [7]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [9]:
ages = pd.Series([22, 35, 58], name="Age")
ages

0    23
1    36
2    59
Name: Age, dtype: int64

In [12]:
df["Age"].max()

ages.max()

58

In [13]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000